{% extends 'admin/include/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{ 'products'|trans([],'product') }}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="{{ path('admin.index') }}">{{ 'dashboard'|trans([],'admin') }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin.categories.index') }}">{{ 'products'|trans([],'product') }}</a></li>
            <li class="breadcrumb-item active">{{ 'create_new'|trans([],'admin') }}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <!-- /.card-header -->

                    <!-- <div class="alert alert-danger">

                    </div> -->


              <!-- form start -->
              <form role="form" action="{{ path('admin.products.create') }}" method="post" enctype="multipart/form-data">

                <!-- <div class="alert alert-danger">

                </div> -->
                <div class="card-body">
                    <input type="hidden" name="_token" value="{{ csrf_token('create-product') }}"/>
                    {{ form_row(form.category_id) }}
                    <br/>
                    {{ form_row(form.title_ar) }}
                    <br/>
                    {{ form_row(form.description_ar) }}
                    <br/>
                    {{ form_row(form.title_en) }}
                    <br/>
                    {{ form_row(form.description_en) }}
                    <br/>
                    {{ form_row(form.image) }}
                    <br/>
                    {{ form_row(form.purchase_price) }}
                    <br/>
                    {{ form_row(form.sale_price) }}
                    <br/>
                    {{ form_row(form.store) }}
                    <br/>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'create_new'|trans([],'admin') }}</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}


{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ asset('assets') }}/plugins/datatables/dataTables.bootstrap4.css">
{% endblock %}

{% block js %}
<!-- DataTables -->
<script src="{{ asset('assets') }}/plugins/datatables/jquery.dataTables.js"></script>
<script src="{{ asset('assets') }}/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script>
    $(function () {
      $('#example2').DataTable({
          "language": {
              "paginate": {
                  "next": "التالي",
                  "previous" : "السابق"
              },
              "decimal":        "",
              "emptyTable":     "لا توجد نتائج في هذا الجدول",
              "info":           "اظهار _START_ الي _END_ من _TOTAL_ ادخال",
              "infoEmpty":      "اظهار 0 من 0 الي 0 ادخال",
              "infoFiltered":   "(تنقية من _MAX_ ادخال)",
              "infoPostFix":    "",
              "thousands":      ",",
              "lengthMenu":     "اظهار _MENU_",
              "loadingRecords": "تحميل...",
              "processing":     "جاري المعالجة...",
              "search":         "بحث:",
              "zeroRecords":    "لا يوجد نتائج",
          },
        "info" : true,
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "autoWidth": true
      });
    });
    </script>
{% endblock %}
